Fall 2021: DATA 604

Team Project (Individual milestone) 

Due: Monday, November 22, 2021 (by 22:00 MST)

Name: Wonje Choi 

UCID: 30016397

In [12]:
import mysql.connector
import csv
from mysql.connector import errorcode
import pandas as pd
import sqlalchemy as sq

Step 1. 

Create connection to the default schema

In [ ]:
try:
    connection = mysql.connector.connect(user='wonje_choi2', database='wonje_choi2', password='5WSC84ETK', host="datasciencedb.ucalgary.ca")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Wrong Infomation")
        exit()
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
        exit()
# citation from MYSQL Connector.ipynb - (3)

Step 2.

Create the table and Importing the data into table.

In [ ]:
cursor = connection.cursor()
createTableQuery = ("""CREATE TABLE IF NOT EXISTS `credit_record2` (
  `ID` INT DEFAULT NULL,
  `MONTHS_BALANCE` INT DEFAULT NULL,
  `STATUS` text DEFAULT NULL
) ENGINE=InnoDB;""")


insertRowQuery=("""INSERT INTO `credit_record2` (
ID,MONTHS_BALANCE,STATUS)
VALUES (%s, %s, %s)""")

cursor.execute(createTableQuery)
connection.commit()

with open("credit_record.csv") as file:
    reader = csv.reader(file, delimiter=",")
    
    next(reader)
    for row in reader:
        cursor.execute(insertRowQuery, (row[0], row[1],row[2]))
        
connection.commit()
        
connection.close()
# citation from MYSQL Connector.ipynb - (3)

Step 3. SQL

SQL Queries 1.

Cleanup and organization the dataset

From the original dataset, each ID has different number of monthly balances, so I try to restructure the dataframe by groupby each ID. Before doing restructure, I need to check that each ID has different number of monthly balance or not?
The reason why do that, if each ID has same number of monthly balance, I can restructure the dataframe by groupby() mean value of monthly balance.

In [ ]:
SELECT * FROM wonje_choi2.credit_record2;

SELECT ID, COUNT(ID)
FROM wonje_choi2.credit_record2
GROUP BY ID;

SQL Queries 2.

Once I confirmed that each ID has different number of ID by the SQL. Hence, I are going to do restructure the dataframe by gourpby each ID.

In [ ]:
SELECT ID, MONTHS_BALANCE, STATUS
FROM  wonje_choi2.credit_record2
GROUP BY ID,MONTHS_BALANCE ;

SQL Queries 3.

Each ID has different number of monthly balances, so it's hard to make a decision the client who is credit card company approval the applicants base on the monthly balance. All ID has a credit record from our dataset, so we think correcting the data which is the most recently monthly balance's status each ID after that using an inner or outer join between two datasets and various groupings, we will structure our data in SQL. It will help to client can make a decision the application of credit card.

In [ ]:
SELECT ID, MAX(MONTHS_BALANCE), STATUS
FROM  wonje_choi2.credit_record2
GROUP BY ID;

SQL Queries 4.

If applicants complain that it is unfair reject or approval by only last month of balances, so we should think other ways. 
In other way, we can drop the data that applicants who have any overdue or bad debts by their credit status. If applicants have any overdue or bad debts before, the client will reject their credit card application. 
Based on the dataset, starting from 2 is that overdue or bad debts at STATUS. For example, the value  of STATUS is over 1.5, applicants will be rejected their application.

In [ ]:
SELECT ID, MONTHS_BALANCE, STATUS
FROM wonje_choi2.credit_record2
WHERE STATUS not like '2' and '3' and '4' and '5'
GROUP BY ID;
# citation from W3 Schools - (4)

SQL Queries 5.

Moreover, each ID has different number of monthly balances, so we can calculate the average of STATUS and we set up the criteria of average of STATUS. If applicants who have over our criteria of average of STATUS, applicants will get reject their credit card application.

In [ ]:
SELECT ID, MONTHS_BALANCE, AVG(STATUS)
FROM wonje_choi2.credit_record2 
WHERE STATUS
GROUP BY ID;
# citation from W3 Schools - (5)

I restructured the dataset are 3 ways that we will merge together with our other datasets to showing which ways are the best fit for our dataset.

It is informative. The reason why, one of important the primary techniques of a data scientist is data wrangling. On the real-world problem, there has so many different types of ways to data wrangling at the same problem, so I tried to different ways of data wrangling for using an inner or outer join between two datasets and various groupings, we will structure our data in SQL. I learnt that whatever platform I finish up using the ability to think about what types of dataset I need and working on with that dataset is a highly relevant and data wrangling skill from this project.


It's biased because this dataset is from kaggle.com and author is Seanny whose Student at University of Maryland in United States.
From the website, 9 reviewers had the opportunity to review this material and the dataset got 10/10 Usability score which means that Easy to understand and includes essential data, Rich, machine readable file formats and data and Assurances the dataset is maintained. Also, most of 9 reviewers are Data Scientist or Data Science Students. Hence, I would like to say that I trust the reviewers, so it is rigorous.(1) 

There are indicators about whether the information is accurate. The author replied the someone's comments for asking data source. He mentioned that the dataset was originally from Chinese website. It has somebody else whose teacher of online data science course instruction in China written about this dataset by R Studio.(6) I think it is correct dataset. Also, there has some errors about understanding the monthly balances that shows negative values. Some of reviewers provided their own critique the monthly balances to understand the value of monthly balances. It is useful because I couldn’t understand why the monthly balances are negative value as well.

Organizing our dataset to serve a particular need is another skill that is relevant both in python and SQL and across platforms. This inidividual milestone helps me apply that skill on a real-world problem.

Reference

1.Seanny. (2020, March 24). Credit Card Approval Prediction. Kaggle. https://www.kaggle.com/rikdifos/credit-card-approval-prediction?select=credit_record.csv

2.Seanny. (2020, March 24). Credit Card Approval Prediction. Kaggle. https://www.kaggle.com/rikdifos/credit-card-approval-prediction?select=application_record.csv

3.Davies, C. (2021, November 15). MYSQL Connector. University of Calgary.
https://d2l.ucalgary.ca/d2l/le/content/400972/viewContent/4998206/View

4.SQL LIKE Operator. (n.d.). W3 Schools. Retrieved November 22, 2021, from https://www.w3schools.com/sql/sql_like.asp

5.SQL COUNT(), AVG() and SUM() Functions. (n.d.). W3 Schools. Retrieved November 22, 2021, from https://www.w3schools.com/sql/sql_count_avg_sum.asp

6.Xiong, X. (2019, October 22). 熊学堂 · 课程介绍 | 在线实习 之 《信用卡申请评分模型》. 微信公众平台. https://mp.weixin.qq.com/s/upjzuPg5AMIDsGxlpqnoCg